Repository vkp-app/vkp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

build apiserver:
  variables:
    PROJECT_PATH: apiserver

build metrics-proxy:
  variables:
    PROJECT_PATH: metrics-proxy

build plugin-hooks:
  variables:
    PROJECT_PATH: vcluster-plugin-hooks

build plugin-sync:
  variables:
    PROJECT_PATH: vcluster-plugin-sync

build web:
  stage: build
  dependencies: []
  variables:
    AUTO_CNB_BUILD_IMAGE: ${AUTO_DEVOPS_REGISTRY_GITLAB}registry.gitlab.com/autokubeops/buildpacks/lifecycle:0.3
    AUTO_CNB_RUN_IMAGE: harbor.dcas.dev/docker.io/paketobuildpacks/run:tiny-cnb
    PROJECT_PATH: web
    BP_STATIC_DIR: build
  ...

build web-login:
  stage: build
  dependencies: []
  variables:
    KANIKO_CONTEXT: $CI_PROJECT_DIR/web-login
    KANIKO_ARG_DEX_VERSION: v2.35.3
  before_script:
  - export CI_REGISTRY_IMAGE="$CI_REGISTRY_IMAGE/dex"

build operator:
  variables:
    PROJECT_PATH: operator

updated track files
  local/vkp/beta.yaml
  local/vkp/kustomization.yaml
  local/vkp/rapid.yaml
  local/vkp/regular.yaml
  local/vkp/stable.yaml
  local/vkp/tracks.yaml
Due: none

updated cluster versions [operator] added printer columns for ClusterVersion and AppliedClusterVersion CRDs
  .gitlab-ci.yml
  deploy/chart/vkp/templates/versions/beta.yaml
  deploy/chart/vkp/templates/versions/rapid.yaml
  deploy/chart/vkp/templates/versions/regular.yaml
  deploy/chart/vkp/templates/versions/stable.yaml
  local/vkp/beta.yaml
  local/vkp/rapid.yaml
  local/vkp/regular.yaml
  local/vkp/stable.yaml
  operator/apis/paas/v1alpha1/appliedclusterversion_types.go
  operator/apis/paas/v1alpha1/clusterversion_types.go
  operator/config/crd/bases/paas.dcas.dev_appliedclusterversions.yaml
  operator/config/crd/bases/paas.dcas.dev_clusters.yaml
  operator/config/crd/bases/paas.dcas.dev_clusterversions.yaml
  web/src/config/constants.ts
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

[chart] reworked the certificate issuer logic [chart] added ability to disable the metrics-proxy [web-login] added OCI source label
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/README.md
  deploy/chart/vkp/templates/metrics-proxy.yaml
  deploy/chart/vkp/templates/pki.yaml
  deploy/chart/vkp/values.yaml
  web-login/Dockerfile
Due: build web-login

[web] added version timeline page
  .gitattributes
  web/src/App.tsx
  web/src/containers/routes/cluster/ClusterVersionIndicator.tsx
  web/src/containers/routes/help/KubeVersionTimeline.tsx
Due: build web

[operator] added safeguard to ensure HA clusters aren't converted
  .gitlab-ci.yml
  operator/controllers/cluster_controller.go
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

[operator] updated addons
  operator/controllers/tenant/addons.go
Due: build operator

[operator] added webhook to block certain tenant names (see #80)
  .gitlab-ci.yml
  operator/PROJECT
  operator/apis/paas/v1alpha1/tenant_webhook.go
  operator/apis/paas/v1alpha1/types.go
  operator/apis/paas/v1alpha1/webhook_suite_test.go
  operator/go.mod
  operator/main.go
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

updated CI to use v2 manifests updated bundled ClusterVersion resources
  .gitlab-ci.yml
  .gitlab/ci/buildkit.gitlab-ci.yml
  .gitlab/ci/go.gitlab-ci.yml
  .gitlab/ci/web.gitlab-ci.yml
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/templates/versions/beta.yaml
  deploy/chart/vkp/templates/versions/rapid.yaml
  deploy/chart/vkp/templates/versions/regular.yaml
  deploy/chart/vkp/templates/versions/stable.yaml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

[ci] fixed syntax error
  .gitlab-ci.yml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

reworked CI again
  .gitlab-ci.yml
  .gitlab/ci/buildkit.gitlab-ci.yml
  .gitlab/ci/go.gitlab-ci.yml
  .gitlab/ci/web.gitlab-ci.yml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

added missing import
  .gitlab-ci.yml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

added missing stages
  .gitlab-ci.yml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

updated operator-sdk version
  .gitlab/ci/bundle.gitlab-ci.yml
  .gitlab/ci/ko.gitlab-ci.yml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build operator

[web] fixed dependency issues
  web/package-lock.json
  web/package.json
Due: build web

fixed tags not being generated correctly
  .gitlab-ci.yml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

[ci] reverted to kaniko to build bundle/index
  .gitlab-ci.yml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

added missing kaniko tags
  .gitlab-ci.yml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

fixed incorrect vars
  .gitlab-ci.yml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

pinned opm version to non-latest
  .gitlab-ci.yml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

updated local deployment to use cndk
  DEVELOPING.md
  Makefile
  apiserver/k8s/ingress.yaml
  apiserver/k8s/values.yaml
  firstrun.sh
  local/addons/addons.yaml
  local/addons/dashboard-k8s/ingress.yaml
  local/addons/dashboard-okd/kustomization.yaml
  local/clusterapi/kustomization.yaml
  local/clusterapi/provider-vcluster.yaml
  local/idp/dex.yaml
  local/kustomization.yaml
  local/pgo/kustomization.yaml
  local/pgo/namespace.yaml
  local/prometheus/kustomization.yaml
  local/prometheus/namespace.yaml
  local/prometheus/values.yaml
  local/vkp/beta.yaml
  local/vkp/rapid.yaml
  local/vkp/regular.yaml
  local/vkp/stable.yaml
  operator/config/minikube/manager_minikube_patch.yaml
  operator/controllers/cluster/config/values.yaml
  web-login/k8s/dex.yaml
  web/k8s/values.yaml
Due: build apiserver, build web, build web-login, build operator

[web] added support for newer kubernetes versions fixed some local setup issues
  apiserver/k8s/deployment.yaml
  local/clusterapi/generate.sh
  local/clusterapi/kustomization.yaml
  local/pgo/database.yaml
  local/pgo/kustomization.yaml
  web/src/config/constants.ts
  web/src/containers/routes/help/KubeVersionTimeline.tsx
Due: build apiserver, build web

[apiserver] updated dependencies
  apiserver/go.mod
  apiserver/go.sum
Due: build apiserver

[operator] added support for vcluster 0.15.0 (closes #82)
  .gitmodules
  cluster-api-provider-vcluster/skaffold.yaml
  local/clusterapi/kustomization.yaml
  operator/config/manager/manager.yaml
  operator/config/minikube/manager_minikube_patch.yaml
  operator/controllers/cluster/config/values.yaml
  operator/controllers/cluster/vcluster.go
Due: build operator

added CI for cluster-api-provider-vcluster
  .gitlab-ci.yml
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

[operator] added ability to block tenant names by regex (closes #80) [ci] fixed a few issues
  .gitlab-ci.yml
  .gitlab/release_notes.md
  DEVELOPING.md
  operator/apis/paas/v1alpha1/tenant_webhook.go
  operator/apis/paas/v1alpha1/types.go
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

[operator] added status conditions for ClusterVersion (closes #84) [ci] fixed a few issues
  .gitlab-ci.yml
  operator/apis/paas/v1alpha1/clusterversion_types.go
  operator/apis/paas/v1alpha1/tenant_types.go
  operator/apis/paas/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.dcas.dev_clusterversions.yaml
  operator/config/crd/bases/paas.dcas.dev_tenants.yaml
  operator/config/webhook/manifests.yaml
  operator/controllers/clusterversion_controller.go
  operator/controllers/types.go
Due: build apiserver, build metrics-proxy, build plugin-hooks, build plugin-sync, build web, build web-login, build operator

Path conditions:
  build apiserver: any of: apiserver/**/*, .gitlab-ci.yml, .gitlab/ci/ko.gitlab-ci.yml
  build metrics-proxy: any of: metrics-proxy/**/*, .gitlab-ci.yml, .gitlab/ci/ko.gitlab-ci.yml
  build plugin-hooks: any of: vcluster-plugin-hooks/**/*, .gitlab-ci.yml, .gitlab/ci/ko.gitlab-ci.yml
  build plugin-sync: any of: vcluster-plugin-sync/**/*, .gitlab-ci.yml, .gitlab/ci/ko.gitlab-ci.yml
  build web: any of: web/**/*, .gitlab-ci.yml
  build web-login: any of: web-login/**/*, .gitlab-ci.yml
  build operator: any of: operator/**/*, .gitlab-ci.yml, .gitlab/ci/ko.gitlab-ci.yml
