Repository vkp-app/vkp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

Path conditions:
  build apiserver: any of: apiserver/**/*, .gitlab-ci.yml
  build plugin-hooks: any of: vcluster-plugin-hooks/**/*, .gitlab-ci.yml
  build plugin-sync: any of: vcluster-plugin-sync/**/*, .gitlab-ci.yml
  build web: any of: web/**/*, .gitlab-ci.yml
  build operator: any of: operator/**/*, .gitlab-ci.yml

[apiserver] fixed partial Tenant-listing condition being broken (closes #41) [operator] incremented version
  .gitlab-ci.yml
  apiserver/internal/graph/schema.resolvers.go
  operator/Makefile
  operator/bundle/manifests/operator.clusterserviceversion.yaml
  operator/config/manager/kustomization.yaml
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[operator] improved OLM disconnected support
  .gitlab-ci.yml
  Makefile
  local/pgo/kustomization.yaml
  local/pgo/namespace.yaml
  operator/bundle/manifests/operator.clusterserviceversion.yaml
  operator/config/manager/manager.yaml
  operator/config/manifests/bases/operator.clusterserviceversion.yaml
  operator/config/minikube-staged/kustomization.yaml
  operator/config/minikube/manager_minikube_patch.yaml
  operator/config/olm/manager_olm_patch.yaml
  operator/controllers/cluster/types.go
  operator/go.mod
  operator/go.sum
  operator/main.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[operator] initial support for HA databases (see #35) [apiserver] fixed an issue causing access checks to fail
  apiserver/go.mod
  apiserver/go.sum
  apiserver/internal/graph/directives.go
  local/pgo/database.yaml
  local/pgo/kustomization.yaml
  operator/config/minikube/manager_minikube_patch.yaml
  operator/config/rbac/role.yaml
  operator/controllers/cluster/config/values.yaml
  operator/controllers/cluster/types.go
  operator/controllers/cluster/vcluster.go
  operator/controllers/cluster_controller.go
  operator/controllers/types.go
  operator/main.go
  vcluster-plugin-sync/go.mod
  vcluster-plugin-sync/go.sum
Due: build apiserver, build plugin-sync, build operator

[operator] fixed logic checks to prevent HA clusters
  operator/controllers/cluster/vcluster.go
  operator/controllers/cluster_controller.go
Due: build operator

[web] added flag to disable HA
  web/.env
  web/src/config/constants.ts
  web/src/containers/routes/CreateCluster.tsx
Due: build web

[operator] enabled configuration of the CoreDNS image
  operator/config/minikube/manager_minikube_patch.yaml
  operator/controllers/cluster/config/values.yaml
  operator/controllers/cluster/types.go
  operator/controllers/cluster/vcluster.go
Due: build operator

added CI-time bundle generation [operator] added default icon
  .gitlab-ci.yml
  .gitlab/ci/bundle.gitlab-ci.yml
  operator/Makefile
  operator/config/manifests/bases/operator.clusterserviceversion.yaml
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

fixed CI syntax
  .gitlab-ci.yml
  .gitlab/ci/bundle.gitlab-ci.yml
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

replaced curl with wget
  .gitlab/ci/bundle.gitlab-ci.yml
  operator/Makefile
Due: build operator

fixed syntax error
  .gitlab/ci/bundle.gitlab-ci.yml
Due: none

fixed syntax error
  operator/Makefile
Due: build operator

[apiserver] added platform-admin shortcut to tenant/cluster access checks [operator] reworked kustomize installation
  apiserver/internal/graph/directives.go
  operator/Makefile
Due: build apiserver, build operator

fixed incorrect artifact path
  .gitlab/ci/bundle.gitlab-ci.yml
Due: none

fixed index generation issue
  .gitlab-ci.yml
  .gitlab/ci/bundle.gitlab-ci.yml
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

removed bundle since it's generated at build-time removed command patch causing image not to start
  .gitlab-ci.yml
  operator/Makefile
  operator/bundle.Dockerfile
  operator/bundle/manifests/operator.clusterserviceversion.yaml
  operator/bundle/manifests/paas.dcas.dev_clusteraddonbindings.yaml
  operator/bundle/manifests/paas.dcas.dev_clusteraddons.yaml
  operator/bundle/manifests/paas.dcas.dev_clusters.yaml
  operator/bundle/manifests/paas.dcas.dev_clusterversions.yaml
  operator/bundle/manifests/paas.dcas.dev_tenants.yaml
  operator/bundle/manifests/vkp-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/manifests/vkp-manager-config_v1_configmap.yaml
  operator/bundle/manifests/vkp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/metadata/annotations.yaml
  operator/bundle/tests/scorecard/config.yaml
  operator/config/olm/manager_olm_patch.yaml
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

incremented chart version
  deploy/chart/vkp/Chart.yaml
Due: none

[operator] initial support for distributing the Root CA to virtual clusters
  .gitlab-ci.yml
  operator/config/minikube/manager_minikube_patch.yaml
  operator/controllers/cluster/config/values.yaml
  operator/controllers/tenant_controller.go
  vcluster-plugin-sync/cmd/sync/main.go
  vcluster-plugin-sync/internal/syncers/controller_secrets.go
  vcluster-plugin-sync/internal/syncers/nested/secret.go
  vcluster-plugin-sync/internal/syncers/types.go
  web/.env
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

platform no longer defaults to allowing HA clusters due to the manual setup required
  operator/main.go
  web/.env
Due: build web, build operator

[chart] improved method of setting images added CI automation for chart deployment
  .gitlab-ci.yml
  .gitlab/ci/chart.gitlab-ci.yml
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/templates/_helpers.tpl
  deploy/chart/vkp/templates/api.yaml
  deploy/chart/vkp/templates/dex.yaml
  deploy/chart/vkp/templates/web.yaml
  deploy/chart/vkp/values.yaml
  operator/Makefile
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[chart] updated readme
  .gitlab/ci/chart.gitlab-ci.yml
  deploy/chart/vkp/README.md
  deploy/chart/vkp/values.yaml
Due: none

[chart] added support for using local CSS with the oauth2-proxy
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/ci/offline.yaml
  deploy/chart/vkp/static/error.html
  deploy/chart/vkp/static/sign_in.html
  deploy/chart/vkp/templates/api.yaml
  deploy/chart/vkp/templates/oauth-static.yaml
  deploy/chart/vkp/templates/web.yaml
  deploy/chart/vkp/values.yaml
  local/kustomization.yaml
  local/static/error.html
  local/static/kustomization.yaml
  local/static/robots.txt
  local/static/sign_in.html
  web/k8s/values.yaml
Due: build web

added Cosign to Ko builds
  .gitlab/ci/ko.gitlab-ci.yml
Due: none

fixed incorrect Cosign image
  .gitlab/ci/ko.gitlab-ci.yml
Due: none

fixed syntax error
  .gitlab/ci/ko.gitlab-ci.yml
Due: none

added annotation to owned namespaces (closes #42)
  .gitlab-ci.yml
  operator/controllers/tenant_controller.go
  operator/controllers/types.go
  operator/main.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

added flag to include a nonce on HA databases to avoid database name collisions
  .gitlab-ci.yml
  operator/api/v1alpha1/cluster_types.go
  operator/config/crd/bases/paas.dcas.dev_clusters.yaml
  operator/controllers/cluster_controller.go
  operator/controllers/types.go
  operator/main.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

added support for username/group prefix when talking to the kube-api
  .gitlab-ci.yml
  apiserver/cmd/apiserver/main.go
  apiserver/internal/graph/directives.go
  apiserver/internal/graph/resolver.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

fixed reconciliation issue when creating HA clusters
  .gitlab-ci.yml
  operator/controllers/cluster_controller.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

switched to multi-group
  apiserver/cmd/apiserver/main.go
  apiserver/internal/graph/directives.go
  apiserver/internal/graph/generated/generated.go
  apiserver/internal/graph/model/models_gen.go
  apiserver/internal/graph/schema.resolvers.go
  operator/PROJECT
  operator/apis/paas/v1alpha1/cluster_types.go
  operator/apis/paas/v1alpha1/clusteraddon_types.go
  operator/apis/paas/v1alpha1/clusteraddonbinding_types.go
  operator/apis/paas/v1alpha1/clusterversion_types.go
  operator/apis/paas/v1alpha1/groupversion_info.go
  operator/apis/paas/v1alpha1/tenant_types.go
  operator/apis/paas/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/kustomization.yaml
  operator/config/samples/kustomization.yaml
  operator/controllers/cluster/addons.go
  operator/controllers/cluster/cluster.go
  operator/controllers/cluster/dex.go
  operator/controllers/cluster/ingress.go
  operator/controllers/cluster/labels.go
  operator/controllers/cluster/types.go
  operator/controllers/cluster/vcluster.go
  operator/controllers/cluster/vcluster_test.go
  operator/controllers/cluster_controller.go
  operator/controllers/clusteraddon_controller.go
  operator/controllers/clusteraddonbinding_controller.go
  operator/controllers/clusterversion_controller.go
  operator/controllers/suite_test.go
  operator/controllers/tenant/ca.go
  operator/controllers/tenant/namespace.go
  operator/controllers/tenant_controller.go
  operator/internal/release/latest.go
  operator/main.go
  operator/pkg/ociutil/auth.go
  vcluster-plugin-sync/internal/syncers/controller_addons.go
  vcluster-plugin-sync/internal/syncers/controller_addons_test.go
  vcluster-plugin-sync/internal/syncers/controller_rbac.go
  vcluster-plugin-sync/internal/syncers/controller_secrets.go
  vcluster-plugin-sync/internal/syncers/init.go
  vcluster-plugin-sync/internal/syncers/nested/rbac.go
Due: build apiserver, build plugin-sync, build operator

initial support for OAuthClients outside the one registered for the Cluster (closes #45)
  operator/apis/idp/v1/groupversion_info.go
  operator/apis/idp/v1/oauthclient_types.go
  operator/apis/idp/v1/zz_generated.deepcopy.go
  operator/config/crd/bases/idp.dcas.dev_oauthclients.yaml
  operator/config/crd/patches/cainjection_in_idp_oauthclients.yaml
  operator/config/crd/patches/webhook_in_idp_oauthclients.yaml
  operator/config/rbac/idp_oauthclient_editor_role.yaml
  operator/config/rbac/idp_oauthclient_viewer_role.yaml
  operator/config/rbac/role.yaml
  operator/config/samples/idp_v1_oauthclient.yaml
  operator/controllers/cluster/dex.go
  operator/controllers/cluster/vcluster_test.go
  operator/controllers/cluster_controller.go
  operator/controllers/idp/oauthclient_controller.go
  operator/controllers/idp/suite_test.go
  operator/controllers/idp/types.go
  operator/controllers/types.go
  operator/main.go
  operator/skaffold.yaml
  vcluster-plugin-sync/internal/syncers/init.go
Due: build plugin-sync, build operator

[chart] added flag to install default cluster versions [chart] added support for global image registry [chart] added support for ImagePullSecrets
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/README.md
  deploy/chart/vkp/ci/versions.yaml
  deploy/chart/vkp/templates/_helpers.tpl
  deploy/chart/vkp/templates/api.yaml
  deploy/chart/vkp/templates/dex.yaml
  deploy/chart/vkp/templates/versions.yaml
  deploy/chart/vkp/templates/web.yaml
  deploy/chart/vkp/values.yaml
Due: none

Incremented version
  .gitlab-ci.yml
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

Added automated release support
  .gitlab-ci.yml
  README.md
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

added fix for release description
  .gitlab-ci.yml
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

rework of release description
  .gitlab-ci.yml
  .gitlab/release_notes.md
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[operator] enabled configuration of the Addon images [operator] updated default addon image versions
  operator/controllers/cluster/addons.go
  operator/controllers/cluster/types.go
Due: build operator

fixed incorrect release-cli image
  .gitlab-ci.yml
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

added support for injecting the cert-manager issuer added possible fix for #48
  .gitlab-ci.yml
  operator/controllers/cluster/config/values.yaml
  operator/controllers/cluster/types.go
  operator/controllers/cluster/vcluster.go
  operator/controllers/cluster_controller.go
  vcluster-plugin-sync/internal/syncers/controller_addons.go
  vcluster-plugin-sync/internal/syncers/types.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[chart] enabled configuration of the control-plane domains (closes #44)
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/README.md
  deploy/chart/vkp/templates/_helpers.tpl
  deploy/chart/vkp/templates/api.yaml
  deploy/chart/vkp/templates/dex.yaml
  deploy/chart/vkp/templates/dex/config.yaml
  deploy/chart/vkp/templates/ingress.yaml
  deploy/chart/vkp/templates/web.yaml
  deploy/chart/vkp/values.yaml
Due: none

[vcluster-hooks] TLS hosts are now rewritten to match Ingress Rules (closes #49) fixed CI syntax issue
  .gitlab-ci.yml
  vcluster-plugin-hooks/internal/hooks/ingress.go
  vcluster-plugin-hooks/internal/hooks/ingress_test.go
  vcluster-plugin-hooks/internal/hooks/pod.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator
