Repository vkp-app/vkp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

build apiserver:
  stage: build
  variables:
    AUTO_CNB_RUN_IMAGE: harbor.dcas.dev/docker.io/paketobuildpacks/run:tiny-cnb
    PROJECT_PATH: apiserver

build plugin-hooks:
  stage: build
  variables:
    AUTO_CNB_RUN_IMAGE: harbor.dcas.dev/docker.io/paketobuildpacks/run:tiny-cnb
    PROJECT_PATH: vcluster-plugin-hooks

build plugin-sync:
  stage: build
  image: harbor.dcas.dev/registry.gitlab.com/av1o/base-images/go-git:1.19
  variables:
    PROJECT_PATH: vcluster-plugin-sync
    KO_DOCKER_REPO: $CI_REGISTRY_IMAGE/vcluster-plugin-sync
  script:
  - cd "$PROJECT_PATH"
  ...

build web:
  stage: build
  dependencies: []
  variables:
    AUTO_CNB_BUILD_IMAGE: ${AUTO_DEVOPS_REGISTRY_GITLAB}registry.gitlab.com/autokubeops/buildpacks/lifecycle:0.3
    AUTO_CNB_RUN_IMAGE: harbor.dcas.dev/docker.io/paketobuildpacks/run:tiny-cnb
    PROJECT_PATH: web
    BP_STATIC_DIR: build
  ...

build operator:
  stage: build
  variables:
    AUTO_CNB_RUN_IMAGE: harbor.dcas.dev/docker.io/paketobuildpacks/run:tiny-cnb
    PROJECT_PATH: operator

[vcluster-sync] support for syncing monitoring.coreos.com/ServiceMonitor resources (closes #51)
  .gitlab-ci.yml
  operator/controllers/cluster/config/values.yaml
  vcluster-plugin-sync/cmd/sync/kodata/monitoring.coreos.com_servicemonitors.yaml
  vcluster-plugin-sync/cmd/sync/main.go
  vcluster-plugin-sync/go.mod
  vcluster-plugin-sync/go.sum
  vcluster-plugin-sync/internal/syncers/crdresources/init.go
  vcluster-plugin-sync/internal/syncers/crdresources/servicemonitors.go
  vcluster-plugin-sync/internal/transutils/labels.go
  vcluster-plugin-sync/testdata/servicemonitor_coredns.yaml
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

added basic vite scaffold
  web-login/.eslintignore
  web-login/.eslintrc.json
  web-login/.gitignore
  web-login/index.html
  web-login/package-lock.json
  web-login/package.json
  web-login/public/vite.svg
  web-login/src/App.css
  web-login/src/App.tsx
  web-login/src/assets/react.svg
  web-login/src/index.css
  web-login/src/main.tsx
  web-login/src/vite-env.d.ts
  web-login/tsconfig.json
  web-login/tsconfig.node.json
  web-login/vite.config.ts
Due: none

basic login page
  web-login/fonts/figtree/Figtree-Black.woff2
  web-login/fonts/figtree/Figtree-Bold.woff2
  web-login/fonts/figtree/Figtree-ExtraBold.woff2
  web-login/fonts/figtree/Figtree-Light.woff2
  web-login/fonts/figtree/Figtree-Medium.woff2
  web-login/fonts/figtree/Figtree-Regular.woff2
  web-login/index.css
  web-login/login/Login.tsx
  web-login/login/index.html
  web-login/login/main.tsx
  web-login/package-lock.json
  web-login/package.json
  web-login/public/kubernetes-icon-color.svg
  web-login/src/App.css
  web-login/src/App.tsx
  web-login/src/fonts/figtree/Figtree-Black.woff2
  web-login/src/fonts/figtree/Figtree-Bold.woff2
  web-login/src/fonts/figtree/Figtree-ExtraBold.woff2
  web-login/src/fonts/figtree/Figtree-Light.woff2
  web-login/src/fonts/figtree/Figtree-Medium.woff2
  web-login/src/fonts/figtree/Figtree-Regular.woff2
  web-login/tsconfig.json
  web-login/vite.config.ts
Due: none

[chart] switched to custom Dex image added CI configuration for Dex
  .gitlab-ci.yml
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/README.md
  deploy/chart/vkp/values.yaml
  web-login/Dockerfile
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[operator] fixed invalid templating
  .gitlab/release_notes.md
  operator/controllers/cluster/config/values.yaml
Due: build operator

[vcluster-sync] reworked kustomization of resources to better handle updating of resources [vcluster-sync] added additional apis to scheme (allows installation of CRDs)
  .gitlab-ci.yml
  vcluster-plugin-sync/internal/syncers/controller_addons.go
  vcluster-plugin-sync/internal/syncers/init.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

initial support for the metrics proxy (see #46)
  .gitlab-ci.yml
  .gitlab/release_notes.md
  local/kustomization.yaml
  local/pki/bst.yaml
  local/pki/ca.yaml
  local/pki/kustomization.yaml
  metrics-proxy/cmd/metrics/main.go
  metrics-proxy/go.mod
  metrics-proxy/go.sum
  metrics-proxy/internal/handlers/prom.go
  metrics-proxy/internal/handlers/prom_test.go
  metrics-proxy/internal/handlers/tls.go
  metrics-proxy/internal/promutil/err.go
  metrics-proxy/internal/promutil/types.go
  metrics-proxy/k8s/certificate.yaml
  metrics-proxy/k8s/deployment.yaml
  metrics-proxy/k8s/kustomization.yaml
  metrics-proxy/k8s/service.yaml
  metrics-proxy/skaffold.yaml
  operator/config/crd/bases/idp.dcas.dev_oauthclients.yaml
  operator/config/crd/bases/paas.dcas.dev_clusters.yaml
  operator/config/manager/manager.yaml
  operator/config/minikube/manager_minikube_patch.yaml
  operator/config/rbac/role.yaml
  operator/controllers/cluster/addons.go
  operator/controllers/cluster/certificate.go
  operator/controllers/cluster/config/values.yaml
  operator/controllers/cluster/types.go
  operator/controllers/cluster/vcluster.go
  operator/controllers/cluster_controller.go
  operator/controllers/types.go
  operator/go.mod
  operator/go.sum
  operator/main.go
  vcluster-plugin-sync/cmd/sync/main.go
  vcluster-plugin-sync/go.mod
  vcluster-plugin-sync/go.sum
  vcluster-plugin-sync/internal/syncers/controller_certificate.go
  vcluster-plugin-sync/internal/syncers/init.go
  vcluster-plugin-sync/internal/syncers/nested/secret.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[chart] added support for the x509 trust relationship (closes #54)
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/README.md
  deploy/chart/vkp/templates/pki.yaml
  deploy/chart/vkp/values.yaml
Due: none

[chart] added metrics-proxy
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/README.md
  deploy/chart/vkp/templates/_helpers.tpl
  deploy/chart/vkp/templates/metrics-proxy.yaml
  deploy/chart/vkp/values.yaml
Due: none

[chart] fixed a few issues with the metrics-proxy
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/README.md
  deploy/chart/vkp/templates/metrics-proxy.yaml
Due: none

[apiserver] fixed go.mod issue
  apiserver/go.mod
  apiserver/go.sum
Due: build apiserver

[chart] fixed incorrect callback URL
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/README.md
  deploy/chart/vkp/templates/dex/config.yaml
Due: none

[operator] fixed incorrect prom-adapter image env
  operator/controllers/cluster/addons.go
  operator/controllers/cluster/types.go
Due: build operator

[skip ci] added a few missing setup manifests
  DEVELOPING.md
  local/kustomization.yaml
  local/vkp/kustomization.yaml
  local/vkp/tracks.yaml
Due: none

[web] fixed overlapping text on ClusterView on smaller screens [web] improved scaling of addon list on smaller screens
  .gitlab-ci.yml
  web/src/containers/routes/ClusterView.tsx
  web/src/containers/routes/addon/AddonItem.tsx
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[vcluster-sync] enabled synchronisation of OAuthClient resources created in the virtual cluster (closes #57)
  operator/controllers/cluster/config/values.yaml
  vcluster-plugin-sync/cmd/sync/kodata/idp.dcas.dev_oauthclients.yaml
  vcluster-plugin-sync/cmd/sync/main.go
  vcluster-plugin-sync/internal/syncers/crdresources/init.go
  vcluster-plugin-sync/internal/syncers/crdresources/oauthclients.go
  vcluster-plugin-sync/internal/syncers/crdresources/servicemonitors.go
Due: build plugin-sync, build operator

[metrics-proxy] working pod metrics (closes #58) [web] added copy button to kubeconfig dialog
  .gitlab-ci.yml
  local/prometheus/kustomization.yaml
  local/prometheus/values.yaml
  metrics-proxy/cmd/metrics/main.go
  metrics-proxy/internal/handlers/prom.go
  metrics-proxy/internal/handlers/prom_test.go
  metrics-proxy/k8s/deployment.yaml
  web/src/containers/routes/cluster/KubeConfigDialog.tsx
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[operator] CoreDNS IP is now cached to avoid excessive lookups [operator] general code cleanup
  .gitlab-ci.yml
  operator/controllers/cluster/ingress.go
  operator/controllers/cluster/labels.go
  operator/controllers/cluster/vcluster.go
  operator/controllers/idp/oauthclient_controller.go
  operator/controllers/tenant/addons.go
  operator/controllers/tenant/labels.go
  operator/controllers/tenant/namespace.go
  operator/controllers/tenant/types.go
  operator/controllers/tenant_controller.go
  operator/controllers/types.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[web] help icon now links to the external docs page [web-login] updated CI rules to match other components
  .gitlab-ci.yml
  web/.env
  web/src/config/constants.ts
  web/src/containers/Nav.tsx
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[web] added double-check before deleting a cluster
  web/src/containers/routes/cluster/ClusterSettingsView.tsx
Due: build web

[operator] added new API for cluster-level application of ClusterVersion's (closes #63)
  .gitlab-ci.yml
  operator/PROJECT
  operator/apis/paas/v1alpha1/appliedclusterversion_types.go
  operator/apis/paas/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.dcas.dev_appliedclusterversions.yaml
  operator/config/crd/kustomization.yaml
  operator/config/crd/patches/cainjection_in_paas_appliedclusterversions.yaml
  operator/config/crd/patches/webhook_in_paas_appliedclusterversions.yaml
  operator/config/rbac/paas_appliedclusterversion_editor_role.yaml
  operator/config/rbac/paas_appliedclusterversion_viewer_role.yaml
  operator/config/rbac/role.yaml
  operator/config/samples/kustomization.yaml
  operator/config/samples/paas_v1alpha1_appliedclusterversion.yaml
  operator/controllers/cluster/cluster.go
  operator/controllers/cluster_controller.go
  operator/controllers/paas/appliedclusterversion_controller.go
  operator/controllers/paas/suite_test.go
  operator/main.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[operator] AppliedClusterVersion is now consulted to fetch the cluster track (see #61) [operator] added webhook for AppliedClusterVersion (closes #65)
  .gitlab-ci.yml
  operator/PROJECT
  operator/apis/paas/v1alpha1/appliedclusterversion_types.go
  operator/apis/paas/v1alpha1/appliedclusterversion_webhook.go
  operator/apis/paas/v1alpha1/webhook_suite_test.go
  operator/apis/paas/v1alpha1/zz_generated.deepcopy.go
  operator/config/certmanager/certificate.yaml
  operator/config/certmanager/kustomization.yaml
  operator/config/certmanager/kustomizeconfig.yaml
  operator/config/crd/bases/paas.dcas.dev_appliedclusterversions.yaml
  operator/config/crd/kustomization.yaml
  operator/config/default/kustomization.yaml
  operator/config/default/manager_webhook_patch.yaml
  operator/config/default/webhookcainjection_patch.yaml
  operator/config/webhook/kustomization.yaml
  operator/config/webhook/kustomizeconfig.yaml
  operator/config/webhook/manifests.yaml
  operator/config/webhook/service.yaml
  operator/controllers/cluster/cluster.go
  operator/controllers/cluster_controller.go
  operator/controllers/paas/appliedclusterversion_controller.go
  operator/controllers/paas/appliedclusterversion_controller_test.go
  operator/go.mod
  operator/go.sum
  operator/main.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[operator] added webhook for Cluster (closes #66) [operator] fixed RBAC overwrite issue
  operator/PROJECT
  operator/apis/paas/v1alpha1/appliedclusterversion_webhook.go
  operator/apis/paas/v1alpha1/cluster_types.go
  operator/apis/paas/v1alpha1/cluster_webhook.go
  operator/apis/paas/v1alpha1/types.go
  operator/apis/paas/v1alpha1/webhook_suite_test.go
  operator/config/crd/bases/paas.dcas.dev_clusters.yaml
  operator/config/crd/kustomization.yaml
  operator/config/rbac/event_recorder_role.yaml
  operator/config/rbac/event_recorder_role_binding.yaml
  operator/config/rbac/kustomization.yaml
  operator/config/rbac/role.yaml
  operator/config/webhook/manifests.yaml
  operator/controllers/cluster/types.go
  operator/controllers/cluster_controller.go
  operator/controllers/clusterutil/consts.go
  operator/controllers/clusterutil/id.go
  operator/controllers/clusterutil/id_test.go
  operator/main.go
Due: build operator

[operator] added webhook for ClusterAddonBinding (closes #68)
  operator/PROJECT
  operator/apis/paas/v1alpha1/clusteraddonbinding_webhook.go
  operator/apis/paas/v1alpha1/types.go
  operator/apis/paas/v1alpha1/webhook_suite_test.go
  operator/config/crd/kustomization.yaml
  operator/config/webhook/manifests.yaml
  operator/controllers/clusteraddonbinding_controller.go
  operator/main.go
Due: build operator

[operator] added webhook for ClusterVersion (closes #69)
  operator/PROJECT
  operator/apis/paas/v1alpha1/clusterversion_webhook.go
  operator/apis/paas/v1alpha1/types.go
  operator/apis/paas/v1alpha1/webhook_suite_test.go
  operator/config/crd/kustomization.yaml
  operator/config/webhook/manifests.yaml
  operator/main.go
Due: build operator

[operator] added webhook for ClusterAddon (closes #67)
  operator/PROJECT
  operator/apis/paas/v1alpha1/clusteraddon_types.go
  operator/apis/paas/v1alpha1/clusteraddon_webhook.go
  operator/apis/paas/v1alpha1/clusterversion_types.go
  operator/apis/paas/v1alpha1/clusterversion_webhook.go
  operator/apis/paas/v1alpha1/types.go
  operator/apis/paas/v1alpha1/webhook_suite_test.go
  operator/config/crd/bases/paas.dcas.dev_clusteraddons.yaml
  operator/config/crd/bases/paas.dcas.dev_clusterversions.yaml
  operator/config/crd/kustomization.yaml
  operator/config/webhook/manifests.yaml
  operator/controllers/clusteraddon_controller.go
  operator/main.go
Due: build operator

[operator] added additional event emission
  operator/controllers/cluster_controller.go
  operator/controllers/clusteraddon_controller.go
  operator/controllers/idp/oauthclient_controller.go
  operator/controllers/paas/appliedclusterversion_controller.go
  operator/main.go
Due: build operator

[operator] added OAuthClient webhook (closes #71)
  operator/PROJECT
  operator/apis/idp/v1/oauthclient_types.go
  operator/apis/idp/v1/oauthclient_webhook.go
  operator/apis/idp/v1/types.go
  operator/apis/idp/v1/webhook_suite_test.go
  operator/apis/idp/v1/zz_generated.deepcopy.go
  operator/config/crd/bases/idp.dcas.dev_oauthclients.yaml
  operator/config/crd/kustomization.yaml
  operator/config/webhook/manifests.yaml
  operator/main.go
Due: build operator

reworked README (closes #64)
  .github/img/cluster-overview.png
  .github/img/cluster-wizard.png
  README.md
Due: none

[chart] added missing APIServer permissions
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/README.md
  deploy/chart/vkp/templates/api.yaml
Due: none

oauth2-proxy now skips the approval prompt (closes #72)
  apiserver/k8s/deployment.yaml
  deploy/chart/vkp/Chart.yaml
  deploy/chart/vkp/README.md
  deploy/chart/vkp/templates/api.yaml
  deploy/chart/vkp/templates/web.yaml
  web/k8s/values.yaml
  web/src/containers/routes/addon/AddonItem.tsx
Due: build apiserver, build web

added CI config to create GitHub releases
  .gitlab-ci.yml
  .gitlab/ci/release-github.gitlab-ci.yml
  .gitlab/ci/release-gitlab.gitlab-ci.yml
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[vcluster-sync] fixed go.mod issue
  vcluster-plugin-sync/go.mod
  vcluster-plugin-sync/go.sum
Due: build plugin-sync

[operator] moved duplicate defaulting logic to webhooks (closes #76)
  .gitlab-ci.yml
  operator/apis/paas/v1alpha1/cluster_types.go
  operator/apis/paas/v1alpha1/cluster_webhook.go
  operator/apis/paas/v1alpha1/clusteraddonbinding_webhook.go
  operator/apis/paas/v1alpha1/clusterversion_webhook.go
  operator/controllers/cluster_controller.go
  operator/controllers/clusteraddon_controller.go
  operator/controllers/clusteraddonbinding_controller.go
  operator/controllers/clusterversion_controller.go
  operator/controllers/webhookutil/labels.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[operator] minor code cleanup
  operator/apis/paas/v1alpha1/cluster_webhook.go
Due: build operator

[operator] updated addons [operator] minor code cleanup
  .gitlab-ci.yml
  operator/controllers/tenant/addons.go
  operator/controllers/tenant_controller.go
Due: build apiserver, build plugin-hooks, build plugin-sync, build web, build operator

[web] enabled user configuration of maintenance windows (closes #61) [web] bumped language target to ES6
  web/src/App.tsx
  web/src/containers/routes/cluster/ClusterMaintenanceWindow.tsx
  web/src/containers/routes/cluster/ClusterSettingsView.tsx
  web/src/generated/graphql.tsx
  web/src/graph/actions/clusters.graphql
  web/tsconfig.json
Due: build web

[web] form buttons are no longer enabled when we failed to retrieve the maintenance policy
  web/src/containers/routes/cluster/ClusterMaintenanceWindow.tsx
Due: build web

[web-login] updated image source
  web-login/Dockerfile
Due: none

Path conditions:
  build apiserver: any of: apiserver/**/*, .gitlab-ci.yml
  build plugin-hooks: any of: vcluster-plugin-hooks/**/*, .gitlab-ci.yml
  build plugin-sync: any of: vcluster-plugin-sync/**/*, .gitlab-ci.yml
  build web: any of: web/**/*, .gitlab-ci.yml
  build operator: any of: operator/**/*, .gitlab-ci.yml
